PORT=5000
SALT_ROUNDS=10
NODE_ENV=development
OTP_EXPIRY_DURATION=900000 # for 15 min expiry
TOKEN_EXPIRY_DURATION=900000 # for 15 min expiry
CLIENT_URL=http://localhost:3000
MONGODB_URI= # your mongoDb URI

# emailjs

EMAIL_JS_SERVICE_ID=
EMAIL_JS_PUBLIC_KEY=
EMAIL_JS_PRIVATE_KEY=
EMAIL_JS_VERIFY_EMAIL_TEMPLATE_ID=
EMAIL_JS_RESET_PASSWORD_TEMPLATE_ID=

# jwt
REFRESH_TOKEN_EXPIRY=5d
ACCESS_TOKEN_EXPIRY=20min
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=